<div class="col-6 pull-left" style="margin-left:30rem; margin-top:5rem">
  <a class="btn btn-secondary btn-sm" type="Back" routerLink="">Back</a>
</div>
<div class="card" style="width:400px; margin-left:30rem;" type="text/css">
    <img class="card-img-top" [src]="productData.base64Image" alt="Product image">
    <div class="card-body">
      <h4 class="card-title"><b>Name: </b>{{productData.Name}}</h4>
      <p class="card-text"><b>Price: </b>{{productData.Price}}</p>
      <p class="card-text"><b>Description: </b>{{productData.Description}}</p>
    </div>
</div>