<div class="container" style="margin-bottom:20px;padding-top:20px;">  
    <div class="row">  
      <div class="col-sm-12 btn btn-danger">  
        Products  
      </div>  
    </div>  
    <div class="col-sm-12" style="margin-bottom:20px;padding-top:20px;">  
      <div class="row">  
        <div class="col-sm-6">  
          <button type="button" class="btn btn-primary" data-toggle="modal" routerLink="/addproduct">  
            Add Product  
          </button>  
        </div>  
        <div class="col-sm-6">  
          <input class="form-control" type="text" name="search" (keyup)="search($event)" placeholder="Search">  
        </div>  
      </div>  
    </div>  
  </div>  
  <div class="container" style="padding-top:20px;">  
    <table class="table table-striped">  
      <thead class="thead-dark">  
        <th scope="col">Image</th>
        <th scope="col">Name</th>  
        <th scope="col">Price</th>  
        <th scope="col">Action</th>  
      </thead>  
      <tbody>  
        <tr *ngFor="let prd of pro | filter:filterCriteria | paginate: config" [routerLink] = "['/viewproduct']" [state]="prd">
          <td><img [src]="prd.base64Image" alt="product" style="width:60px; height:60px;"></td>  
          <td style="padding-right:200px;">{{prd.Name}}</td>  
          <td style="padding-right:200px;">{{prd.Price}}</td>  
          <td>  
            <div class="btn-group">  
              <button type="button" class="btn btn-primary mr-1" (click)="ProductEdit(prd.ProductId)">Edit</button>  
              <button type="button" class="btn btn-danger mr-1" (click)="Deleteproduct(prd.ProductId)">Delete</button>  
            </div>  
          </td>  
        </tr>  
      </tbody>  
    </table>  
    <ul class="pagination justify-content-center">  
      <pagination-controls
      [maxSize]="maxSize"
      directionLinks="true"
      responsive="true"
      previousLabel="Previous page"
      nextLabel="Next page"
      (pageChange)="onPageChange($event)">        
    </pagination-controls>    </ul>  
  </div>  